#parent{
    border: 1px solid black;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#parent>div{
    height: 100px;
    background-color: green;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child1{
    background-color: red;
    grid-area: 1 / 1 / 2 / 3;
    
}

#child5{
    background-color: rgb(21, 2, 189);
    grid-area: 2 / 2 / 3 / 5;
}

#child8{
    background-color: yellow;
    grid-area: 3 / 3 / 4 / 5;
}